*{
    padding:0;
    margin:0;
    font-family: arial;
}

.ctr{
    background: linear-gradient(45deg,green,greenyellow, yellow);
    height:100vh;
    box-sizing: border-box;
    padding:5px;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

.fl-ctr{
    height: auto;
    width:80%; 
    background: white;
    border:none;
    padding:10px;
    border-radius:3px;
    display:flex;
    justify-content: space-around;
}

.formulario{
    background: white;
    padding: 30px 10px;
    width:49%;
    height: 350px;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario h6{
    color:gray;
    font-size:20px;
    font-weight: 300;
    margin:0 0 10px 0; 

}

.formulario div{
    background: white;
    padding: 30px 10px;
    width:100%;
    height: 100%;
    border:1px solid rgba(0,0,0,0.04);
    border-radius:3px;
    box-sizing: border-box;
}

.formulario div .field{
    width:100%;
    height:40px;
    padding:0 10px;
    box-sizing: border-box; 
    margin:5px 0 20px 0;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.1);
    outline:none;
    font-size:16px;
    color:gray;
} 

.formulario div .btn{
    background: dodgerblue;
    color:white;
    padding: 10px 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}
.lst-ctr{
    background: white;
    padding: 30px 10px;
    width:49%;
    height: 350px;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lst-ctr h6{
    color:gray;
    font-size:20px;
    font-weight: 300;
    margin:0 0 10px 0; 
}

.lst-ctr #box-list{
    background: white;
    padding: 10px 10px;
    width:100%;
    height: 100%;
    border:1px solid rgba(0,0,0,0.04);
    border-radius:3px;
    box-sizing: border-box;
    overflow-y: scroll;

    
}


.lst-ctr .box-info{
   background: white;
   margin: 0 0 5px 0;
   height:50px;
   width:100%;
   padding:15px;
   box-sizing: border-box;
   border:1px solid rgba(0,0,0,0.1);
   border-radius:3px; 

   display: flex;
   justify-content: space-between;
   align-items: center;
}


/*.lst-ctr .box-info span{
   background: green;
   width:23%;
   font-size: 15px;
   padding: 5px;
   box-sizing: border-box;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }*/
 
 

.elem{
    background:rgba(0,0,0,0.01);
    width: 100%;
    height: 50px;
    margin:5px;
    padding:5px 15px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:5px; 

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elem #prod{
   color:gray;
}

.elem #cant{
background: dodgerblue;
padding:2px 10px;
color:white;
border-radius:50px;
}

#rest{
    color:green;
}